<% if !item.nil? %>
	<p>
		<%= item.file_name %>
		<%= codeformat(item.code, item.file_name) %>
		<%= item.description %>
		<%= link_to 'Destroy', tutorial_step_codeblock_path(tutorial_id, step_id, item), method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>