// Place all the styles related to the Tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.codeblock-form-wrapper {
	display: none;
}
.screenshot-form-wrapper {
	display: none;
}
.textblock-form-wrapper {
	display: none;
}
.step-form-wrapper {
	display: none;
}
.step-form-show {
	float: right;
}
.codeblock-form-show {
	float: right;
}
.screenshot-form-show {
	float: right;
}
.textblock-form-show {
	float: right;
}